{% extends 'simple_card.html.twig' %}

{% block title %}
  {{ 'app.welcome'|trans }}
{% endblock %}

{% block card_title %}
  <div class="row d-flex align-items-center w-75 m-auto text-center full-height">
    <div class="col-12 col-md-auto md-3 mb-md-0 d-flex justify-content-center">
      <a href="https://www.ucgis.org/" target="_blank">
        <img src="{{ asset('img/ucgis-horizontal.png') }}" class="logo" alt="UCGIS logo"/>
      </a>
    </div>
    <div class="col-12 col-md">
      <h1>
        {{ 'app.welcome' | trans }}
      </h1>
      <h1>Body of Knowledge (BoK)</h1>
    </div>

  </div>


{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  {% from '_macro/_studyarea_select.html.twig' import select2_optgroup_css as select2_optgroup_css %}
  {{ select2_optgroup_css() }}

{% endblock %}

{% block extra_card_class %}mt-5 mb-1{% endblock %}

{% block license %}
  <span class="small">
    This Living Textbook software was developed by the <a href="https://www.itc.nl" target="_blank">Faculty ITC</a>
  from the
  <a href="https://www.utwente.nl" target="_blank">University of Twente, Netherlands</a>.
    <br>It is licensed under a
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode" target="_blank">
    Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International
   License.</a>
    <br>
    The content of this GIS&T Body of Knowledge is held in copyright by UCGIS and Topic authors.
  <br/>
    {% if not app.user %}
      <a href="/admin">Admin Login</a>
      {% else %}
      <a href="/logout">Admin Logout</a>
    {% endif %}
  </span>
{% endblock %}

{% block content %}

  {% if not app.user and app.request.attributes.get('_route') == 'admin_login' %}
    {{ include('default/_admin_login.html.twig') }}
  {% else %}
    {{ include('default/_search.html.twig') }}
    {{ include('default/_default.html.twig') }}
  {% endif %}

  <div class="row w-60 m-auto justify-content-center">
    <div class="license-notice">
      <div class="license-image"></div>
      <p>
        {{ block('license') }}
      </p>
      <div class="creative-commons-license"></div>
    </div>
  </div>
{% endblock %}

  {% block footer %}
    {#  Nothing here #}
  {% endblock %}

  {% block javascripts_bottom %}
    {{ parent(singleStudyArea) }}
    <script type="text/javascript">
      // Focus form input
      function focusLoginForm() {
        setTimeout(function () {
          $('#login__username').focus();
        }, 100);
      }

      function updateTabHeight() {
        // Fixate the tab height
        var maxHeight = 0;
        $('.tab-content .tab-pane').each(function () {
          $(this).addClass('active');
          var height = $(this).height();
          maxHeight = height > maxHeight ? height : maxHeight;
          $(this).removeClass('active');
        });
        {% if loginFormActive %}
        $('#tab-custom-account').addClass('active');
        focusLoginForm();
        {% else %}
        $('.tab-content .tab-pane:first').addClass('active');
        {% endif %}
        $('.tab-content').height(maxHeight);
      }

      $(function () {
        setTimeout(updateTabHeight, 100);
        window.onresize = updateTabHeight;
      });
    </script>
  {% endblock %}
